<p>abby-profile works!</p>
<mat-card class="profile-card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title class="title">Abigail León</mat-card-title>
      <mat-card-subtitle class="subtitle">Digital Communications</mat-card-subtitle>
    </mat-card-header>
    <div image="row">
    <img mat-card-image src="/assets/img/abby1.jpg" alt="Photo of Abigail">
    <img mat-card-image src="/assets/img/abby2.jpg" alt="Photo by Abigail">
    <img mat-card-image src="/assets/img/abby3.jpg" alt="Graphic Design by Abigal">
    </div>
    <mat-card-content class="content">
      <p>
      </p>
      <mat-card-actions>
        <button class="button" mat-raised-button>Check out my portfolio!</button>
    </mat-card-actions>
    </mat-card-content>
    
    
</mat-card>
